* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  max-width: 1980px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h2, h3 {
  font-family: Varela-Round, sans-serif;
  font-weight: 400;
  color: #26272d;
}

p {
  color: #8c8f94;
}

li {
  list-style: none;
}

/*HEADER*/

/*BENEFITS*/

/*SPREAD*/

/*INTERFACE*/
.NewProvidence-interface {
  background-color: #f5f5f8;
}

.NewProvidence-interface-title {
  padding: 30px 0 20px;
}

.NewProvidence-interface hr {
  width: 50px;
  height: 2px;
  margin: 5px auto 30px;
  background-color: #267df4;
  border: none;
}

.NewProvidence-interface-descr {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 20px;
}

.NewProvidence-interface-screens {
  display: flex;
  overflow: scroll;
}

/*SUBSCRIBE*/

/*SLIDER*/
.NewProvidence-slider {
  position: relative;
  margin-top: 20%;
}

.NewProvidence-slider-img {
  display: flex;
  justify-content: center;
}

.NewProvidence-slider-img-photo1, .NewProvidence-slider-img-photo2 {
  display: none;
}

.NewProvidence-slider-descr {
  margin: 30px 10px 20px;
}

.NewProvidence-slider-name {
  font-size: 12px;
  font-weight: 600;
  color: #26272d;
  margin: 50px 0;
}

.fas {
  position: absolute;
  top: 10%;
  font-size: 60px;
  color: #8c8f94;
}

.fa-angle-left {
  left: 5%;
}

.fa-angle-right {
  right: 5%;
}

/*PLANS*/

/*SUBSCRIBE BOTTOM*/

/*FOOTER*/

/*MEDIA*/
@media (min-width: 533px) {
  .NewProvidence-slider {
    margin: 50px 0;
  }
}

@media (min-width: 768px) {
  .NewProvidence-slider {
    margin: 15% 0;
  }

  .NewProvidence-slider-descr {
    margin: 30px 15% 20px;
  }
}

@media (min-width: 1024px) {
  .NewProvidence-slider-img-photo1, .NewProvidence-slider-img-photo2 {
    display: block;
    opacity: 0.5;
    height: 100%;
    margin: 30px 60px;
  }

  .NewProvidence-slider-descr {
    margin: 50px 25% 30px;
  }
  
}

@media (min-width: 1280px) {
  .fa-angle-left {
    left: 15%;
  }
  
  .fa-angle-right {
    right: 15%;
  }
}
